body {
  /* background-color: #17181F; */
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

main {
  max-width: 360px;
  margin: 25px auto;
}

h1 {
  text-align: center;
  margin: 0;
  font-size: 2.5rem;
}

h1 span {
  font-size: 1rem;
  display: inline-block;
  margin-top:6px;
}

form {
  margin-top: 20px;
  
}

form input {
  width: 100%;
  background-color: transparent;
  border: 2px solid black;
  padding: 2px 5px;
  border-radius: 5px;
}

form input[type="datetime-local"] {
  color: black;
}

form div.basic {
  display: flex;
  gap: 5px;
  margin-bottom: 5px;
}

form button {
  width: 100%;
  margin-top: 5px;
  border: 2px solid black;
  border-radius: 5px;
  padding: 5px;
  background-color: white;
}

div.transactions {
  margin-top: 10px;
}

div.transaction {
  display: flex;
  justify-content: space-between;
  padding: 5px 0;
  border-top: 1px solid black;
}

div.transaction div.name {
  font-size: 1.1rem;
}

div.transaction div.description {
  font-size: 0.8rem;
  color: #888;
}

div.right {
  text-align: right;
}

div.price.green {
  color:#1c1;
}

div.price.red {
  color:#c11;
}

div.transaction div.datetime {
  font-size: 0.8rem;
  color: #888;
}